In [1]:
import pandas as pd
base = pd.read_csv('census.csv')

In [3]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
base['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
base.shape

(32561, 15)

In [8]:
# predictors 
x = base.iloc[:, 0:14].values
# classifiers
y = base.iloc[:, 14].values

In [9]:
x

array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
       [38, ' Private', 215646, ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', 151910, ..., 0, 40, ' United-States'],
       [22, ' Private', 201490, ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
      dtype=object)

In [10]:
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [13]:
x[0]

array([39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40,
       ' United-States'], dtype=object)

In [18]:
# transforming literal data in numbers
from sklearn.preprocessing import LabelEncoder
label_enconder = LabelEncoder()
x[:, 1] = label_enconder.fit_transform(x[:, 1])
x[:, 3] = label_enconder.fit_transform(x[:, 3])
x[:, 5] = label_enconder.fit_transform(x[:, 5])
x[:, 6] = label_enconder.fit_transform(x[:, 6])
x[:, 7] = label_enconder.fit_transform(x[:, 7])
x[:, 8] = label_enconder.fit_transform(x[:, 8])
x[:, 9] = label_enconder.fit_transform(x[:, 9])
x[:, 13] = label_enconder.fit_transform(x[:, 13])

In [20]:
x[0]

array([39, 7, 77516, 9, 13, 4, 1, 1, 4, 1, 2174, 0, 40, 39], dtype=object)

In [24]:
# padronization
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
x = scaler_x.fit_transform(x)

In [25]:
x[0]

array([ 0.03067056,  2.15057856, -1.06361075, -0.33543693,  1.13473876,
        0.92163395, -1.3178091 , -0.27780504,  0.39366753,  0.70307135,
        0.1484529 , -0.21665953, -0.03542945,  0.29156857])

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [27]:
print(f"x_train: {x_train.shape}, x_test: {x_test.shape}")

x_train: (22792, 14), x_test: (9769, 14)

In [29]:
print(f"y_train: {y_train.shape}, y_test: {y_test.shape}")

y_train: (22792,), y_test: (9769,)

In [31]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=10000)
classifier.fit(x_train, y_train)

LogisticRegression(max_iter=10000)

In [35]:
# predictions for x_test
predictions = classifier.predict(x_test)

In [33]:
predictions

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype=object)

In [34]:
y_test

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype=object)

In [37]:
# accuracy score
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8235233903163067